.background{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.background::before{
    content: '';
    background-image: url('../pages/img/cimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0.25;
    
}
h1{
    font-size:50px;
    font-family:sans-serif;
    text-align: center;
    position: relative;
    
}


 
 