.background{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.background::before{
    content: '';
    background-image: url('../src/img/bimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    
}